body{
    background-color: #222;
}

p{
    color: #ee6;
    font-family: sans-serif;
}

h1,h2,h3{
    color: #eee;
}

strong{
    border-bottom: #ffff;
}

.the-force{
    background-color: #444;
    font-weight: bold;

}

.light-side{
    color: #66f;
}

.dark-side{
    color: #f33;

}

#og-trilogy{
    list-style-type: circle;
}

.movies-list:nth-of-type(2){
    padding-left: 140px;
}

.movies-list:nth-of-type(3) li:last-child{
    margin-top: 100px;
}